article.about
	div.about_img
		img(src="assets/about-main-img.png", alt="aboutme-img")
	div.about_items
		article.about_article
			h2 about me
			p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. 
			p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.
		div.about_skills
			-
				let skills = [
					{ img: "assets/icon-web-design.svg", header:'web design', alt: 'icon_design' },
					{ img: "assets/icon-graphic-design.svg", header: 'graphic design', alt: 'icon_graphic_design' },
					{ img: "assets/icon-online-marketing.svg", header: 'online marketing', alt: 'online-marketing' },
					{ img: "assets/icon-seo.svg", header: 'seo', alt: 'icon_seo' }
				]
			each item in skills
				article.about_skills_item
					div.about_skills_item_icon
						img(src=`${item.img}`, alt=`${item.alt}`)
					article.about_skills_item_article
						h3 #{item.header}
						p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
			
			
			
			
			
			
			
			
				