article.contacts
  article.contacts_item.container
    div.contacts_item_content
      h2 Contact Me
      p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
      p 122 33rdStreet East#[br] Saskatoon, SK#[br] S7K 1R9
      p.contacts_item_content_span Email: 
        span info@focal.com
      p.contacts_item_content_span Phone:
        span 1-306-222-2323
    div.contacts_item_inputs
      -
        let inputs = [
          { text: 'Name', span: '*', name: 'name'},
          { text: 'Email Address', span: '*', name: 'email'}
        ]
      each item in inputs
        label(for=`${item.name}`) #{item.text} 
          span #{item.span}
        input(type="text" name=`${item.name}`)

      label(for="description") Description 
        span *
      textarea(name="description", cols="50", rows="10")
      button.contacts_item_inputs_button Contact Me
