header.header_main
	div.container
		div.button_controller
			each item in ['slide1', 'slide2', 'slide3']
				div.slide_controller
	div.header_main_slider
		-
			let slides = [
				{header:'Web & Graphic Designer',img:'url("assets/main-img.png")'},
				{header:'Five years experience',img:'url("assets/experience.jpg")'},
				{header:'Supervisor manager',img:'url("assets/supervisor.jpg")'}
			]
		each item,index in slides
			div.header_main_slider_slide(style=`background-image:${item.img}` class=`${index===0?'active':''}`)
				div.header_main_slider_slide_title
					h1 #{item.header}
				button.header_main_slider_slide_button Learn More
	
	div.header_main_footer_wrapper
		div.header_main_footer.container
			div.header_main_logo
				div.main_logo_img
					img(src="assets/logo-text.svg", alt="logo") 
				div.main_logo_text fo
					span cal 
			nav.header_main_nav
				ul
					each item in ['home', 'about me', 'skills', 'resume', 'testimonials', 'portfolio', 'contact me']
						li
							a(href="#") #{item}    