header(class='header_main')
    div(class='header_main_img')
            img(src='../src/img/main-img.png', alt='main-img')                               
    div(class='header_main_footer')
            div(class='header_main_logo')
                    div(class='main_logo')
                            img(src="../src/img/logo-text.svg", alt="logo", srcset="") 
                    div(class='main_logo_text') fo
                            span cal 
            nav(class='header_main_nav')
                ul
                    each item in ['home','about me','skills','resume','testimonials','portfolio','contact me']
                        li
                            a(href="#") #{item}
                    
                    