header.header_main
	div.header_main_img
		img(src='../src/img/main-img.png', alt='main-img')                               
	div.header_main_footer_wrapper
		div.header_main_footer.container
			div.header_main_logo
				div.main_logo_img
					img(src="../src/img/logo-text.svg", alt="logo") 
				div.main_logo_text fo
					span cal 
			nav.header_main_nav
				ul
					each item in ['home', 'about me', 'skills', 'resume', 'testimonials', 'portfolio', 'contact me']
						li
							a(href="#") #{item}    