<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="index.css")
        title Document
    body 
        include header.pug
        include interests.pug
        include about.pug
         

        script(src="./output.js")