article.interests.container
	each article in ['values', 'goals', 'hobbies']
		article.interest_item
			h2.interest_item_header #{article}
			p.interest_item_text Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est. 