main_color_1 = white
main-color_2 = #2ecc71
main-color_3 = #252e30

@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700'

.container
  margin: 0 auto
  max-width 1180px
  width 100%

  &.fluid
    max-width 1600px

@require 'header'

@require 'interests'

@require 'about'

@require 'skills'

@require 'resume'

@require 'edu_work'

@require 'reviews'

@require 'portfolio'

@require 'contacts'

@require 'footer'