main_color_1 = white
main-color_2 = #2ecc71
main-color_3 = #252e30

@font-face
  font-family: 'Roboto', 'sans-serif'
  src: 'https://fonts.googleapis.com/css?family=Roboto:400,500,700'


.header_main
  margin 0 auto
  min-width 800px
  max-width 1600px
        
  &_img
    margin 0
    padding: 0
    width: 100%;
    box-sizing: border-box
    font-size: 0

    img
      margin: 0
      width: 100%;
      object-fit: contain

  &_footer
    width: 100%;
    display: flex;
    background: main-color_3
    height: 70px;
    justify-content: space-evenly;

  &_logo
    min-width: 100px
    display: flex
    align-items: center

    .main_logo_img
      display: flex
      justify-content: center
      align-items: center
      background-color: #4b5456;
      width: 42px;
      height: 42px;
      margin-right: 20px;

    .main_logo_text
      color main_color_1
      text-transform: uppercase
      font-family: Roboto;
      font-size: 1.875em;/* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      line-height: 1.4;/* Приближение из-за подстановки шрифтов */
      text-align: center;

      span 
        color main-color_2
        text-transform: uppercase

      & span img 
        margin: 0 auto;

  &_nav
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;

    ul
      display: flex
      align-items: center
      list-style: none
      margin: 0
      justify-content space-around 
      width: 100%
      padding: 0

      a
        text-transform: uppercase
        text-decoration: none;
        color: main_color_1
        font-family: Roboto;
        font-size: 1em; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 1.875; /* Приближение из-за подстановки шрифтов */
        text-align: left;

      a:hover
        color main-color_2

  

.interests
  display: flex
  margin 0 auto
  min-width 800px
  max-width 1600px
  background: #ffffff
  justify-content: space-evenly

.interest_item
  min-width 200px
  max-width 360px

  h2
    margin-top: 100px
    margin-bottom: 50px;
    font-family: Roboto;
    color: #556366;
    font-size: 1.875em; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 0.8; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase

  p
    margin 0
    margin-bottom: 96px
    font-family: Roboto;
    color: #919191;
    font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 1.667; /* Приближение из-за подстановки шрифтов */
    text-align: left;

.about
  display: flex
  margin 0 auto
  min-width 800px
  max-width 1600px
  background: #f2f2f1
  justify-content: space-evenly
  
.about_img
  margin 0
  padding: 0
  width: 100%;
  box-sizing: border-box
  font-size: 0
  flex-shrink: 1.3

  img
    margin: 0
    width: 100%;
    object-fit: contain

.about_items
  max-width: 700px;
  padding: 100px 200px 0px 100px;
  flex-grow: 3;

  h2
    margin: 0
    margin-bottom: 45px;
    font-family: Roboto;
    color: #556366;
    font-size: 1.875em; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 0.8; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase
  
  p
    margin: 0
    margin-bottom: 25px
    font-family: Roboto;
    color: #919191;
    font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 1.667; /* Приближение из-за подстановки шрифтов */
    text-align: left;

 
.about_skills
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
    align-items: flex-start
  
.about_skills_item_article h3
  margin: 0
  margin-bottom: 20px
  font-family: Roboto;
  color: #556366;
  font-size: 1.375em; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 1.091; /* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase

.about_skills_item_article p
  margin: 0
  font-family: Roboto;
  color: #919191;
  font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.667; /* Приближение из-за подстановки шрифтов */
  text-align: left;

.about_skills_item
  display: flex
  justify-content: space-between
  align-items: flex-start
  margin: 0
  min-width 200px
  max-width: 320px
  margin-top: 50px

.about_skills_item_article
  margin-left: 30px;

.skills
  display: flex
  margin 0 auto
  padding: 100px 0 100px 0
  min-width 800px
  max-width 1600px
  background: #ffffff
  justify-content: center

  .my_skills
    display: flex
    margin: 0
    max-width: 550px
    min-width: 300px
    justify-content: flex-start
    flex-direction: column
    margin-right: 90px

    h2
      font-family: Roboto;
      color: #556366;
      font-size: 1.875em; /* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      line-height: 0.8; /* Приближение из-за подстановки шрифтов */
      text-align: left;
      text-transform: uppercase
      margin: 0

    p
      font-family: Roboto;
      color: #919191;
      font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 1.667; /* Приближение из-за подстановки шрифтов */
      text-align: left; 
      margin: 0
      margin-top: 50px

    &_button
      margin-top: 50px
      border-style: solid;
      border-width: 3px;
      border-color: #2ecc71;
      box-sizing: border-box;
      background-color: rgba(46, 204, 113, 0);
      width: 185px;
      height: 56px;
      font-family: Roboto;
      color: rgba(46, 204, 113, 0.75);
      font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      line-height: 1.333; /* Приближение из-за подстановки шрифтов */
      text-align: center;
      text-transform: uppercase

  .skills_progress
    display: flex
    margin: 0
    max-width 850px
    min-width 300px
    justify-content: flex-start
    flex-direction: column

    .skills_progress_item
      display: flex
      justify-content: flex-start
      flex-direction: column
      max-width: 850px
      min-width: 300px
      margin-top: 40px

      h3
        font-family: Roboto;
        color: #556366;
        font-size: 1.375em; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 1.091; /* Приближение из-за подстановки шрифтов */
        text-align: left;
        text-transform: uppercase
        margin: 0
        margin-bottom: 20px

      &_bar
        display: flex
        background-color: #f2f2f1;
        width: 560px;
        height: 30px;

        &_scale
          width: 100%
          padding-right: 10px
          background-color: main-color_2
          font-family: Roboto;
          color: #ffffff;
          font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
          font-weight: 700;
          line-height: 1.667; /* Приближение из-за подстановки шрифтов */
          text-align: right;
          box-sizing: border-box

          
    
