.interests
  display: flex
  background: #ffffff
  justify-content: space-between
  margin-bottom: 90px

.interest_item
  min-width 200px
  max-width 360px

  &_header
    margin-bottom: 50px
    color: #556366;
    font: 700 1.875em/0.8 Roboto
    text-transform: uppercase

  &_text
    color: #919191
    margin 0
    font: 400 1.125em/1.667 Roboto