.skills
  display: flex
  padding: 100px 0 100px 0
  background: #ffffff
  justify-content: space-between

  .my_skills
    display: flex
    margin: 0
    max-width: 550px
    min-width: 300px
    justify-content: flex-start
    flex-direction: column
    
    h2
      font-family: Roboto;
      color: #556366;
      font-size: 1.875em; /* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      line-height: 0.8; /* Приближение из-за подстановки шрифтов */
      text-align: left;
      text-transform: uppercase
      margin: 0

    p
      font-family: Roboto;
      color: #919191;
      font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 1.667; /* Приближение из-за подстановки шрифтов */
      text-align: left; 
      margin: 0
      margin-top: 50px

    &_button
      margin-top: 50px
      border-style: solid;
      border-width: 3px;
      border-color: #2ecc71;
      box-sizing: border-box;
      background-color: rgba(46, 204, 113, 0);
      width: 185px;
      height: 56px;
      font-family: Roboto;
      color: rgba(46, 204, 113, 0.75);
      font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      line-height: 1.333; /* Приближение из-за подстановки шрифтов */
      text-align: center;
      text-transform: uppercase

      &:hover
        color: #0F8542;
        border-color: #0F8542;

  .skills_progress
    display: flex
    margin: 0
    max-width 850px
    min-width 300px
    justify-content: flex-start
    flex-direction: column

    .skills_progress_item
      display: flex
      justify-content: flex-start
      flex-direction: column
      max-width: 850px
      min-width: 300px
      margin-top: 40px

      h3
        font-family: Roboto;
        color: #556366;
        font-size: 1.375em; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 1.091; /* Приближение из-за подстановки шрифтов */
        text-align: left;
        text-transform: uppercase
        margin: 0
        margin-bottom: 20px

      &_bar
        display: flex
        background-color: #f2f2f1;
        width: 560px;
        height: 30px;

        &_scale
          width: 100%
          padding-right: 10px
          background-color: main-color_2
          font-family: Roboto;
          color: #ffffff;
          font-size: 1.125em; /* Приближение из-за подстановки шрифтов */
          font-weight: 700;
          line-height: 1.667; /* Приближение из-за подстановки шрифтов */
          text-align: right;
          box-sizing: border-box